@model IEnumerable<List<string>>

@{
    ViewData["Title"] = "Articles";
}

<table>
    <tbody class="row">
        <tr></tr>
    </tbody>
</table>

<div class="row">
    <div class="col 3">
        <h1 class="new_font text_shadow">Gordon Ramsay</h1>
        <img src="../Pictures/GordonRamsay.jpg" style=" max-block-size: 150px;" />
    </div>
    <div class="col-3">
        <h1 class="new_font text_shadow">Noa Eats</h1>
        <img src="../Pictures/noa.jpg" />
    </div>
</div>


<div class="row">
    <h2 class="new_font text_shadow">Pizza &nbsp;</h2>
    <img style="width: 5%;" src="../Pictures/pizza.png" />
</div>
<video width="620" height="400" controls>
    <source src="../Videos/pizza.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<br />
<br />
<br />
<br />

<div class="row">
    <h2 class="new_font text_shadow">Meat &nbsp;</h2>
    <img style="width: 5%;" src="../Pictures/meat.png" />
</div>
<video width="620" height="400" controls>
    <source src="../Videos/meat.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<br />
<br />
<br />
<br />

<div class="row">
    <h2 class="new_font text_shadow">Vegan</h2>
    <img style="width: 5%;" src="../Pictures/vegan.png" />
</div>
<video width="620" height="400" controls>
    <source src="../Videos/vegan.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

@section Scripts
{
    <div hidden type="text/html" id="hidden-template">
        <div class="col-xl-3 col-lg-auto col-md-auto col-sm-auto" style="margin-top: 1rem;">
            <span id="tweet{id}" class="col-2"></span>
        </div>
    </div>

    <script id="twitter-wjs" type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script>
    var tweets = @Html.Raw(ViewBag.Tweets);
    for (var i = 0; i < tweets.data.length; i++)
    {
        var template = $('#hidden-template').html();
        template = template.replaceAll("{id}", i);
        $('tbody').append(template);
    }

    for (var i = 0; i < tweets.data.length; i++)
    {
        twttr.widgets.createTweet(tweets.data[i].id, document.getElementById('tweet'+i), { theme: 'light' });
    }
    </script>
}

