@model IEnumerable<List<string>>

@{
    ViewData["Title"] = "Articles";
}

<center>
    <h1 class="new_font text_shadow">Noa Eats</h1>
    <img src="../Pictures/noa.jpg" />
</center>


<div class="row">
    <h2 class="new_font text_shadow">Pizza &nbsp;</h2>
    <img style="width: 5%;" src="../Pictures/pizza.png" />
</div>
<video width="620" height="400" controls>
    <source src="../Videos/pizza.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<br />
<br />
<br />
<br />

<div class="row">
    <h2 class="new_font text_shadow">Meat &nbsp;</h2>
    <img style="width: 5%;" src="../Pictures/meat.png" />
</div>
<video width="620" height="400" controls>
    <source src="../Videos/meat.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<br />
<br />
<br />
<br />

<div class="row">
    <h2 class="new_font text_shadow">Vegan</h2>
    <img style="width: 5%;" src="../Pictures/vegan.png" />
</div>
<video width="620" height="400" controls>
    <source src="../Videos/vegan.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

