@model IEnumerable<List<string>>

@{
    ViewData["Title"] = "Average Price";
}

<div class="row">
<h1 class="title_font text_shadow">Average Price of Restaurants</h1>
   
<div class="col-5">
    <button type="button" class="btn btn-light float-right switch_button" id="priceSwitchButton">
        Mode <span class="badge badge-dark" id="modeIndicator">Table</span>
    </button>
</div>
</div>
<br />
<table id="restAvgTable" class="table text-light table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                Restaurant Name
            </th>
            <th>
                Average Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text_shadow">
        @foreach (var item in ViewBag.AVGmodel)
        {
        <tr>
            <td>@item[1]</td>
            <td>@item[2]</td>
            <td>
                <a class="text-light" asp-action="Details" asp-route-id="@item[0]">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div id="Area" class="text-center non_display" width="400px" heigth="460px"></div>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script>
    $(document).ready(function () { createGraphInput('restAvgTable', 0, 1)})
</script>
