@model FoodieProject.Models.Dish

@{
    ViewData["Title"] = "Edit";
}

<h1 class="title_font text_shadow">Edit Dish</h1>
<hr class="form_hr"/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="form_danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label form_text_font"></label>
                <input asp-for="Name" class="form-control form-control-light" />
                <span asp-validation-for="Name" class="form_danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label form_text_font"></label>
                <input asp-for="Description" class="form-control form-control-light" />
                <span asp-validation-for="Description" class="form_danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label form_text_font"></label>
                <input asp-for="Price" class="form-control form-control-light" />
                <span asp-validation-for="Price" class="form_danger"></span>
            </div>
            <div>
                <label class="control-label form_text_font"> Upload New Dish Picture</label><br><a class="alert-danger">The old picture will be deleted</a><input class="form-control" type="file" name="newPic" />
            </div>
            <br>
            <div>
                <label asp-for="Restaurant.Name" class="control-label form_text_font"></label>
                <input asp-for="Restaurant.Name" disabled class="form-control form-control-light" value="@ViewData["dishRestName"]" />
                <span asp-validation-for="Restaurant.Name" class="form_danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="RestaurantId" type="hidden" class="form-control form-control-light" value="@Model.RestaurantId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-light" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="edit_delete_details form_text_font" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
