@model FoodieProject.Models.User

@{
    ViewData["Title"] = "AccessDenied";
}

<h1 class="bg-danger">Access Denied</h1>

<a class="alert-danger"> Sorry, You dont have enogh permmsions to access this page</a>