@model FoodieProject.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<br />
<h1 class="login_title_font">Login to Foodie!</h1>

<hr class="form_hr" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label form_text_font"></label>
                <input asp-for="Username" class="form-control form-control-light login_input" />
                <span asp-validation-for="Username" class="font-weight-bold form_danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Password" class="control-label form_text_font"></label>
                <div class="d-flex align-items-center small">
                    <i class="far fa-eye text-muted position-absolute pl-3 password_eye" id="togglePassword"></i>
                    <input asp-for="Password" class="form-control form-control-light login_input" id="id_password" />
                    <span asp-validation-for="Password" class="form_danger"></span>
                </div>
            </div>



         

            <div class="form-group">
                <input type="submit" value="Foodin" class="btn btn-light" />
            </div>

        </form>
        @if (ViewData.ContainsKey("ErrorLoginFailed"))
        {
            <div class="font-weight-bold form_danger">@ViewData["ErrorLoginFailed"]</div>
        }
    </div>
    <div class="col-md-4 login_image">
        <img src="~/Pictures/login.png" />
    </div>
</div>
<div class="form_text_font">
    Dont have a Foodie's account?? <a class="login_link" asp-action="Register">Click here</a> to Register
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
