@model FoodieProject.Models.User

@{
    ViewData["Title"] = "RegisterAdmin";
    Layout = "_Layout";
}
<br />
<h1 class="login_title_font">Register a new user</h1>
<hr class="form_hr" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterAdmin">
            <div asp-validation-summary="ModelOnly" class="font-weight-bold form_danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label form_text_font"></label>
                <input asp-for="Username" class="form-control form-control-light login_input" />
                <span asp-validation-for="Username" class="font-weight-bold form_danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label form_text_font"></label>
                <div class="d-flex align-items-center small">
                    <i class="far fa-eye text-muted position-absolute pl-3 password_eye" id="togglePassword"></i>
                    <input asp-for="Password" class="form-control form-control-light login_input" id="id_password" />
                </div>
                <span asp-validation-for="Password" class="form_danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label form_text_font"></label>
                <select asp-for="Type" asp-items="@Html.GetEnumSelectList<UserRole>()" class="form-control form-control-light login_input"></select>

                <span asp-validation-for="Type" class="font-weight-bold form_danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register user" class="btn btn-light" />
            </div>
        </form>

        @if (ViewData.ContainsKey("ErrorUserExists"))
        {
            <div class="font-weight-bold form_danger">@ViewData["ErrorUserExists"]</div>
        }
    </div>
</div>
<div>
    <a class="edit_delete_details form_text_font" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
